.header {
  background-color: transparent;
  position: sticky;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1000;
  padding: 1em 0em;
}
.header .navbar-inverse {
  background-color: transparent;
  border-color: transparent;
}
.header .navbar-inverse .navbar-nav > li > a {
  color: #fff;
}
.header .logo {
  text-transform: uppercase;
  color: #fff;
  transition: all linear 0.1s;
}
.header .logo:hover {
  transform: scale(1.2);
}
.header .menu a {
  text-transform: uppercase;
  color: #fff;
  transition: all linear 0.1s;
  border-bottom: 3px solid transparent;
}
.header .menu a span {
  display: inline-block;
  transition: all linear 0.1s;
}
.header .menu a:hover {
  border-bottom: 3px solid #fcac45;
}
.header .menu a:hover span {
  transform: scale(1.2);
}
@media screen and (max-width: 768px) {
  .header .menu a {
    text-align: center;
  }
}
